*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:url(./image/Background1.jpg);
    background-size: cover;
    background-position: center;  
}
.navbar{
   list-style: none;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    height: 120px;
}
.navbar ul li{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #b8860b;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 1s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.slogan{
    position: relative;
    left: 50px;
    top: -10px;
    font-weight: bold;
    font-style: italic;
}
.slogan a{
    text-decoration: none;
    color: #000;
}
.slogan mark{
    background-color: gold;
}
.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-top: 30px;
    font-weight: bold;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
    font-size: 22px;
    font-weight: bold;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;   
    position: relative;
    overflow: hidden;
}
button a{
    text-decoration: none;
    color: #fff;
}
span{
    background: #b8860b;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:1s;    
}
button:hover span{
    width: 100%
}
button:hover{
    border: none;
}
