.banner{
    width: 100%;
    height: 100vh;
    background-image:url(../image/background2.jpg);
    background-size: cover;
    background-position: center;  
}
.navbar{
   list-style: none;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    height: 120px;
}
.navbar ul li{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #b8860b;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 1s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../image/image.jpg);
     width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;  
}
.card {
    background: #fff;
    width: 270px;
    height: 450px;
    margin: 10px;
    margin-top: 4%;
    border-radius: 15px;
}
.card-img {
    background-size: cover;
    background-color: blue;
    height: 150px;
    margin-bottom: 15px;
      border-radius: 15px 15px 0 0;

}
.model-1{
    background-image:url(../image/truck1.jpg) ;
}
.model-2{
    background-image: url(../image/koko2.jpg);
}
.model-3{
    background-image: url(../image/kaki.jpg);
}
.card h2 {
    padding: 10px;
}
.card p {
    padding: 10px;
}
.card a {
    background-color: #000;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px;
}
.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform:scale(1.03) ;
    transition: all 1s ease;
}
.footer{
    background-color: #000;
    padding: 70px 0;
}
.container1{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 45px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: serif;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #b8860b;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #b8860b;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease; 
}
.footer-col .social-links a:hover{
    color: #fff;
    background-color: #b8860b;
}
h1{
    text-align: center;
    color: white;
    animation: ;
    font-size: 50px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}
h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
